{% extends "base.html" %}

{% block basecontent %}
    <div class="app blank sidebar-opened">
        <article class="content">
            <div class="error-card global">
                <div class="error-title-block">
                    <h1 class="error-title">{{ errorNo }}</h1>
                    <h2 class="error-sub-title">{{ errorMsg }}</h2>
                </div><br>
                <div class="error-container">
                    <a class="btn btn-primary" href="/services/"> <i class="fa fa-angle-left"></i> Back to Dashboard </a>
                </div>
            </div>
        </article>
    </div>
{% endblock %}